<main class="container">
    <h1>Panier <i class="fa fa-shopping-cart"></i></h1><br/>
    <table class="table table-striped table-hover ">
        <thead>
            <th>Photo</th>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix total</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of cart; let i=index">
                <td> {{ p.photo }}</td>
                <td>
                    {{ p.nom }}
                </td>
                <td> {{ p.quantite }}</td>
                <td>{{ p.prix }} $</td>
                <td>{{ p.prix * p.quantite }} $</td>
            </tr>
        </tbody>
    </table>
</main>