<!--<main>
    <table>
        <thead>
        <tr>
            <th colspan="2">Inscription</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label for="inputName">Nom</label></td>
            <td><input id="inputName" type="text" placeholder="Nom" /></td>
        </tr>
        <tr>
            <td><label for="inputFirstname">Prénom</label></td>
            <td><input id="inputFirstname" type="text" placeholder="Prénom" /></td>
        </tr>
        </tbody>
    </table>

</main> -->
<main>

<div ng-controller="products-create.component">
<form class="form-horizontal" ng-app="myApp">
        <fieldset>
          <legend>Ajout d'un produit</legend>
          <div class="form-group">
            <label for="inputId" class="col-lg-2 control-label" >Id</label>
            <div class="col-lg-10">
              <input class="form-control" id="inputId" placeholder="Id" type="number" ng-model="products.id">
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Nom du produit</label>
            <div class="col-lg-10">
              <input class="form-control" id="Name" placeholder="Write a name" type="text" ng-model="products.nom">
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Rajouter une image</label>
            <div class="col-lg-10">
              <input class="form-control" id="Name" type="file" ng-model="products.photo">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" id="description" ng-model="products.description"></textarea>
              <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" ng-click='getForm()' class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    </main>