<main>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products; let i=index">
                <td> {{ p.nom }}</td>
                <td><img src="{{ p.name }}" /></td>
                <td>{{ p.description }}</td>
                <td>{{ p.prix}} $</td>
            </tr>
        </tbody>
        <tfoot>
                <tr>
                    <td colspan="2"><a [routerLink]='"create"'>Ajouter un produit</a></td>
                </tr>
     </tfoot>
    </table>
    <router-outlet></router-outlet>
</main>
