<main>
    
            <section *ngIf="isNotConnected()" class="container">
                <div class="panel panel-primary" *ngFor="let p of products; let i=index;">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ p.nom }} </h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-md-3">
                            <img [src]="p.photo" />
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Prix : {{ p.prix }} <i class="fa fa-usd"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>{{ p.description }}</p>
                            <a [routerLink]="p.id" class="btn btn-info">Fiche produit</a>
                            <button class="btn btn-primary" (click)="addToCart(p)" >Ajouter au panier <i class="fa fa-cart-plus"></i></button>
                        </div>
                        
                    </div>
                </div>
            </section>
          
            
        
</main>