<main *ngIf="isNotConnected()">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Catalogue</a>
                </div>
            
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a (click)="reroute('home')">Accueil
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="members">Panier <i class="fa fa-shopping-cart"></i></a>
                        </li>
                        <li>
                            <a (click)="reroute('products')">Produits</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <label for="username">Login</label>
                            <input id="username" name="username" type="text" placeholder="Login" class="form-control" [(ngModel)]="model.username" />
                            <label for="password">Mot de passe</label>
                            <input id="password" name="password" type="password" placeholder="Mot de passe" class="form-control" [(ngModel)]="model.password" />
                            <button (click)="login()" class="btn btn-go btn-primary">Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
                    
            </header>
            <section class="container">
                <div class="panel panel-primary" *ngFor="let p of products; let i=index">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ p.nom }} </h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-lg-3">
                            <img src="" />
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Prix : {{ p.prix }} <i class="fa fa-usd"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>{{ p.description }}</p>
                            <a href="#" class="btn btn-info">Fiche produit</a>
                            <button class="btn btn-primary" (click)="addToCart()">Ajouter au panier <i class="fa fa-cart-plus"></i></button>
                        </div>
                        
                    </div>
                </div>
            </section>
       
        <footer class="container-fluid jumbotron">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h2>Liens rapides</h2>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="/cart">Panier <i class="fa fa-shopping-cart"></i></a></li>
                        <li><a href="/login">Connexion</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <h2>Nous contacter</h2>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> UQAC, Québec, Canada</li>
                        <li><i class="fa fa-phone"></i> +1 418 545 5011</li>
                        <li><i class="fa fa-envelope"></i> catalogue@uqac.ca</li>
                    </ul>
                </div>
                <div class="col-md-4 footer-about">
                    <h2>Catalogue en ligne</h2>
                    <p>Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula
                        sit amet.</p>
                </div>
            </div>
        </footer>
</main>